# Local .tfstate files
terraform.tfstate
terraform.tfstate.backup

# Crash logs
crash.log

# Plan output
*.tfplan

# Sensitive override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Terraform working directory (provider plugins, modules, etc.)
.terraform/

